 <html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheet/style.css">
	<title></title>
</head>
<body>



	<table>
		<tr>
			<th> employability</th>
			<th>nationality</th>
			<th>income</th>
			<th>email</th>
		</tr>
	<% answers.each do |person| %>
		<tr>
			<td> <%= person['employability']%> </td>
			<td><%= person['nationality']%></td>
			<td><%= person['income']%></td>
			<td><%= person['email']%></td>
		</tr>
	<% end %>

	</table>
	


</body>
</html>

